<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/index.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peachy Details</title>
    <meta name="Carwash Website" content="Carwash Website"/>
    <meta name="Diego Garcia" content="Diego Garcia" />
    <meta name="Practice Website" content="Practice Website" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=font1|font2|etc"
      type="text/css"
    />
    <link rel="icon" href="{{ url_for('static', filename='peachyDetailFavicon.png') }}" type="image/png">
  </head>
  <body>
    <!-- Section 1: Header with Logo to the left and Link to pages on the right -->
    <header class="sectionOne">
      <h1>Peachy Detailing</h1>
      <nav>
          <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </nav>
  </header>
  <!-- Section 2: Banner image with text over the image -->
  <!-- Text: Spotless Shine, Every Time! -->
  <!-- Text: Palm Springs to Orange County, We bring the Shine to your Ride-->
  <div class="sectionTwo">
    <img src="static/images/banner.jpg">
  </div>
  <!-- Section 3: Mission Statement with an image to the right -->
  <div class="sectionThree">
    <h2 class="mission-statement">Our Drive</h2>
    <p class="statement">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <img src="static/images/ourDriveImage.jpg">
  </div>
  <!-- Section 4: List all services in three columns -->
  <div class="sectionFour">
    <div class="Auto Detailing Packages">
      <h3>Auto Detailing Packages</h3>
      <p>Paint Correction</p>
      <p>Paint Enhancement</p>
      <p>Ceramic Coating</p>
      <p>Clay Bar & Wax</p>
    </div>
    <div class="Car Wash Packages">
      <h3>Car Wash Packages</h3>
      <p>Basic Package</p>
      <p>Silver Package</p>
      <p>Gold Package</p>
      <p>Diamond Package</p>
    </div>
    <div class="Other Services">
      <h3>Other Services</h3>
      <p>Headlight Resoration</p>
      <p>Odor Removal</p>
      <p>Stain Removal</p>
      <p>Dog Hair Removal</p>
      <p>Scratch Removal</p>
      <p>Steam Cleaning</p>
    </div>
  </div>
<!-- Section 5: Two columns - left column: map - right column: contact form -->
<div class="sectionFive">
  <div class="map">
    <p>MAP</p>
  </div>
  <div class="contact-form">
    <p>CONTACT FORM</p>
  </div>
</div>
  </body>
</html>